{{#if isPaused}}
  <a {{action "unpause"}} class="octicon octicon-playback-play"></a>
{{else}}
  <a {{action "pause"}} class="octicon octicon-playback-pause"></a>
{{/if}}

<p class="current-time">{{formattedSeconds}}</p>
<progress max="{{duration}}" value="{{seconds}}"></progress>

{{#if isMuted}}
  <a {{action "unmute"}} class="octicon octicon-mute"></a>
{{else}}
  <a {{action "mute"}} class="octicon octicon-unmute"></a>
{{/if}}

<p class="duration">{{formattedDuration}}</p>
