{{#if isPaused}}
  <a {{action "unpause"}} class="octicon octicon-playback-play"></a>
{{else}}
  <a {{action "pause"}} class="octicon octicon-playback-pause"></a>
{{/if}}

<p class="current-time">{{formattedSeconds}}</p>
<progress max="{{duration}}" value="{{seconds}}"></progress>
<p class="duration">{{formattedDuration}}</p>
